body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  overflow: hidden;
  background-color: #3f3f3f;
}

.nav-bar a {
  float: left;
  display: block;
  color: #e3e3e3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  background-color: #0465aa;
  color: white;
}

.nav-bar .icon {
  display: none;
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 768px) {
  .nav-bar a:not(:first-child) {
    display: none;
  }

  .nav-bar a.icon {
    float: left;
    display: block;
  }

  .nav-bar.responsive {
    position: relative;
  }

  .nav-bar.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
